{
  "swagger": "2.0",
  "info": {
    "title": "Archivist Node API",
    "version": "1.0",
    "contact": {
      "name": "Jitsuin",
      "url": "https://www.jitsuin.com"
    }
  },
  "host": "jitsuin.readthedocs.io",
  "basePath": "/api/archivist/v1",
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/archivist/v1/archivistnode": {
      "get": {
        "summary": "Get information about an archivist node",
        "description": "Returns the identified archivist node",
        "operationId": "GetArchivistNode",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ArchivistNodes"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to read the archivist node's information",
            "schema": {}
          },
          "404": {
            "description": "Returned when the identified archivist node does not exist",
            "schema": {}
          }
        },
        "tags": [
          "ArchivistNode"
        ]
      }
    }
  },
  "definitions": {
    "v1ArchivistNodes": {
      "type": "object",
      "example": {
        "identity": "quorum-0",
        "blockchain_nodes": [
          {
            "validator_pubkey": {
              "kty": "EC",
              "crv": "P-256K",
              "x": "VBKHictTWJC-3sqknXCb8MI4IxTc3c_My7lnem2C74E=",
              "y": "ItNeb5d-6vEHkvtUOcDYrEADxsZXeOCJm18pQWntenE=",
              "d": ""
            },
            "block_height": "38773",
            "connection_status": "HEALTHY",
            "timestamp_committed": "2019-01-01T12:00:27Z",
            "timestamp_created": "2019-01-01T12:00:27Z",
            "peers": [
              {
                "validator_pubkey": {
                  "kty": "EC",
                  "crv": "P-256K",
                  "x": "o0uZ8ix5DE42srPCw1o22wYibkHGkvyCuLVqwcVAxb0=",
                  "y": "W43sUjWg-ociR2x3CcAlWeOqc6oDkYui1JLup1q-ojU=",
                  "d": ""
                },
                "connection_status": "HEALTHY"
              },
              {
                "validator_pubkey": {
                  "kty": "EC",
                  "crv": "P-256K",
                  "x": "5HcU1PJgTe0LGyGxKFrIPFZWdTbxPySfi6bKxdQeO8A=",
                  "y": "dEpMURyTwEGzpgIgLdm4Csl1BgF6H39tb1Kf8wLLhVI=",
                  "d": ""
                },
                "connection_status": "HEALTHY"
              }
            ]
          }
        ]
      },
      "properties": {
        "identity": {
          "type": "string",
          "description": "The identity of the archivistnode blockchain",
          "title": "archivistnode",
          "readOnly": true
        },
        "blockchain_nodes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1BlockchainNode"
          },
          "description": "Status information for the blockchain nodes belonging to this  archivist node. Each blockchain node further contains information  about any connected peers. Note that the peer lists for each blockchain  node will often overlap",
          "readOnly": true
        }
      },
      "description": "Describes the status of the archivist node."
    },
    "v1BlockchainNode": {
      "type": "object",
      "properties": {
        "validator_pubkey": {
          "$ref": "#/definitions/v1JSONWebKey",
          "description": "Blockchain node Public key, used to validate transactions. A  Secp256k1 public key. Formatted as  a JWK accodring to RFC 7517 (JWK), RFC 7518 (JWA) and  draft-ietf-cose-webauthn-algorithms-00. Note in particular,  that x, y are the base64url encoding of the uncompressed key.",
          "readOnly": true
        },
        "block_height": {
          "type": "string",
          "format": "uint64",
          "description": "For the local node, the height of the last committed block",
          "title": "unsigned 64 bit integer",
          "readOnly": true
        },
        "connection_status": {
          "$ref": "#/definitions/v1ConnectionStatus",
          "description": "An indication of the nodes connection status.",
          "readOnly": true
        },
        "timestamp_committed": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp when consensus was achieved for the block at `block_height` (RFC 3339) obtained from the block info of the 'latest' block.",
          "readOnly": true
        },
        "timestamp_created": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp of creation of the genesis block (RFC 3339)",
          "readOnly": true
        },
        "peers": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1PeerBlockchainNode"
          },
          "description": "List of peer blockchain nodes. ",
          "readOnly": true
        }
      }
    },
    "v1ConnectionStatus": {
      "type": "string",
      "enum": [
        "UNSPECIFIED",
        "HEALTHY",
        "UNHEALTHY"
      ],
      "default": "UNSPECIFIED"
    },
    "v1JSONWebKey": {
      "type": "object",
      "properties": {
        "keyEC": {
          "$ref": "#/definitions/v1JSONWebKeyEC"
        }
      }
    },
    "v1JSONWebKeyEC": {
      "type": "object",
      "example": {
        "kty": "EC",
        "crv": "P-256K",
        "x": "VBKHictTWJC-3sqknXCb8MI4IxTc3c_My7lnem2C74E=",
        "y": "ItNeb5d-6vEHkvtUOcDYrEADxsZXeOCJm18pQWntenE=",
        "d": ""
      },
      "properties": {
        "kty": {
          "$ref": "#/definitions/v1JSONWebKeyType",
          "description": "The type of the key. MUST be 'EC'",
          "title": "Must be \"EC\""
        },
        "crv": {
          "type": "string",
          "description": "The curve name for the key.  6.2.1.1 rfc 7518, 3.1 draft-ietf-cose-webauthn-algorithms-00 MUST be one of P-256K, P-256, P-384, P-521",
          "title": "CurveName crv = 2 [ (grpc.gateway.protoc_gen_swagger.options.openapiv2_field) = {",
          "maxLength": 64
        },
        "x": {
          "type": "string",
          "description": "The base64url encoding of the x component for the uncompressed point. 6.2.1.2 rfc 7518",
          "maxLength": 256
        },
        "y": {
          "type": "string",
          "description": "The base64url encoding of the y component the uncompressed point 6.2.1.3 rfc 7518",
          "maxLength": 256
        },
        "d": {
          "type": "string",
          "description": "Present only for PRIVATE keys. The base64url encoding of the private  key 6.2.2.1 rfc 7518",
          "maxLength": 2048
        }
      },
      "description": "A public or private Elliptic Curve Key according to RFC 7518. As an extension, we permit the crv value P-256K1 to indicate  the SEC2 P-256K1 aka Secp256k1 curve is used.  See draft-ietf-cose-webauthn-algorithms-00, and  http://www.secg.org/sec2-v2.pdf"
    },
    "v1JSONWebKeyType": {
      "type": "string",
      "enum": [
        "UNSPECIFIED",
        "EC",
        "RSA",
        "OCT"
      ],
      "default": "UNSPECIFIED",
      "title": "JSONWebKey.Type The key types declared in 6.1 rfc-7518"
    },
    "v1PeerBlockchainNode": {
      "type": "object",
      "properties": {
        "validator_pubkey": {
          "$ref": "#/definitions/v1JSONWebKey",
          "description": "The Blockchain node Public key, used to validate transactions.  A Secp256k1 public key. Formatted as  a JWK accodring to RFC 7517 (JWK), RFC 7518 (JWA) and  draft-ietf-cose-webauthn-algorithms-00. Note in particular,  that x, y are the base64url encoding of the uncompressed key.",
          "readOnly": true
        },
        "connection_status": {
          "$ref": "#/definitions/v1ConnectionStatus",
          "description": "An indication of the peers connection status.",
          "readOnly": true
        }
      }
    }
  }
}
