{
  "swagger": "2.0",
  "info": {
    "title": "BlockChain API",
    "version": "1.0-alpha1",
    "contact": {
      "name": "Jitsuin",
      "url": "https://www.jitsuin.com"
    }
  },
  "tags": [
    {
      "name": "BlockChain"
    }
  ],
  "host": "jitsuin.readthedocs.io",
  "basePath": "/archivist/v1alpha1",
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/archivist/v1alpha1/blockchain/{identity}": {
      "get": {
        "summary": "get the list of blockchain transactions that made up an Archivist Event\nincludes standard Jitsuin paging",
        "operationId": "BlockChain_ListBlockchain",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1alpha1ListBlockchainResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "identity",
            "description": "Specify Event `identity` as in full `assets/add30235-1424-4fda-840a-d5ef82c4c96f/events/11bf5b37-e0b8-42e0-8dcf-dc8c4aefc000`",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "Maximum entries per page.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "The next_page_token returned from a previous list request if any.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "BlockChain"
        ]
      }
    }
  },
  "definitions": {
    "protobufAny": {
      "type": "object",
      "properties": {
        "type_url": {
          "type": "string"
        },
        "value": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v1alpha1ListBlockchainResponse": {
      "type": "object",
      "example": {
        "transactions": [
          {
            "hash": "0x9fc76417374aa880d4449a1f7f31ec597f00b1f6f3dd2d66f4c9c6c445836d8b",
            "nonce": 2,
            "blockHash": "0xef95f2f1ed3ca60b048b4bf67cde2195961e0bba6f70bcbea9a2c4e133e34b46",
            "blockNumber": 3,
            "transactionIndex": 0,
            "r": "0x8912348621879462817634897216348712638941",
            "s": "0x1234689712638957682375682364892376487238",
            "from": "0xa94f5374fce5edbc8e2a8697c15331677e6ebf0b",
            "to": "0x6295ee1b4f6dd65047762f924ecd367c17eabf8f",
            "value": "123450000000000000",
            "gas": 314159,
            "gasPrice": "2000000000000",
            "input": "0x57cb2fc4",
            "v": "0x26"
          },
          {
            "hash": "0x9fc76417374aa880d4449a1f7f31ec597f00b1f6f3dd2d66f4c9c6c445836d8b",
            "nonce": 2,
            "blockHash": "0xef1234567d3ca60b048b4bf67cde2195961e0bba6f70bcbea9a2c4e133e34b46",
            "blockNumber": 3,
            "transactionIndex": 0,
            "r": "0x8912348621879462817634897216348712638941",
            "s": "0x1234689712638957682375682364892376487238",
            "from": "0xa94f5374fce5edbc8e2a8697c15331677e6ebf0b",
            "to": "0x6295ee1b4f6dd65047762f924ecd367c17eabf8f",
            "value": "123450000000000000",
            "gas": 314159,
            "gasPrice": "2000000000000",
            "input": "0x57cb2fc4",
            "v": "0x26"
          }
        ]
      },
      "properties": {
        "transactions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1alpha1Transaction"
          }
        },
        "next_page_token": {
          "type": "string",
          "description": "Token to retrieve the next page of results or empty if there are none."
        }
      },
      "description": "List of events (or the next page in a continuing  list request"
    },
    "v1alpha1Transaction": {
      "type": "object",
      "example": {
        "hash": "0x9fc76417374aa880d4449a1f7f31ec597f00b1f6f3dd2d66f4c9c6c445836d8b",
        "nonce": 2,
        "blockHash": "0xef95f2f1ed3ca60b048b4bf67cde2195961e0bba6f70bcbea9a2c4e133e34b46",
        "blockNumber": 3,
        "transactionIndex": 0,
        "r": "0x8912348621879462817634897216348712638941",
        "s": "0x1234689712638957682375682364892376487238",
        "from": "0xa94f5374fce5edbc8e2a8697c15331677e6ebf0b",
        "to": "0x6295ee1b4f6dd65047762f924ecd367c17eabf8f",
        "value": "123450000000000000",
        "gas": 314159,
        "gasPrice": "2000000000000",
        "input": "0x57cb2fc4",
        "v": "0x26"
      },
      "properties": {
        "hash": {
          "type": "string",
          "description": "Transaction hash",
          "maxLength": 256
        },
        "nonce": {
          "type": "string",
          "format": "uint64",
          "description": "Nonce"
        },
        "blockhash": {
          "type": "string",
          "description": "Block Hash",
          "maxLength": 256
        },
        "block_number": {
          "type": "string",
          "format": "uint64",
          "description": "Block number"
        },
        "transaction_index": {
          "type": "integer",
          "format": "int64",
          "description": "Transaction Index"
        },
        "r": {
          "type": "string",
          "description": "Signature: R value",
          "maxLength": 256
        },
        "s": {
          "type": "string",
          "description": "Signature: S Value",
          "maxLength": 256
        },
        "from": {
          "type": "string",
          "description": "From...",
          "maxLength": 256
        },
        "to": {
          "type": "string",
          "description": "To...",
          "maxLength": 256
        },
        "value": {
          "type": "string",
          "description": "Value",
          "maxLength": 256
        },
        "gas": {
          "type": "string",
          "format": "uint64",
          "description": "Gas left"
        },
        "gas_price": {
          "type": "string",
          "description": "Gas Price",
          "maxLength": 256
        },
        "input": {
          "type": "string",
          "description": "Input...",
          "maxLength": 256
        },
        "v": {
          "type": "string",
          "description": "Signature: V value",
          "maxLength": 256
        }
      },
      "description": "TODO: add description here ",
      "title": "as Ethereum RPC eth_getTransactionByHash (https://web3js.readthedocs.io/en/v1.2.0/web3-eth.html#gettransaction)"
    }
  }
}
