{
  "swagger": "2.0",
  "info": {
    "title": "Blockchain-exports API",
    "version": "1.0",
    "contact": {
      "name": "Jitsuin",
      "url": "https://www.jitsuin.com"
    }
  },
  "tags": [
    {
      "name": "BlockchainExports"
    }
  ],
  "host": "jitsuin.readthedocs.io",
  "basePath": "/api/archivist/v1",
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/archivist/v1/blockchain-exports": {
      "get": {
        "summary": "List all blockchain exports",
        "description": "Returns a list of all exports. e.g. blockchain-exports/20c97f42-87fc-482c-9d58-4d11abd33359",
        "operationId": "BlockchainExports_ListExports",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListExportsResponse"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to generate blockchain exports",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "order_by",
            "description": "Ordering of multiple records. Order by State or timestamp_accepted",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "LIST_EXPORT_UNSPECIFIED",
              "LIST_EXPORT_STATE",
              "LIST_EXPORT_TIMESTAMP_ACCEPTED"
            ],
            "default": "LIST_EXPORT_UNSPECIFIED"
          },
          {
            "name": "page_token",
            "description": "Pagination token. Empty on first request.On subsequent requests copied from response.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "Maximum no. of entries requested.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "BlockchainExports"
        ]
      },
      "post": {
        "summary": "Start creating a blockchain export",
        "description": "Returns a reference to a pending blockchain export",
        "operationId": "BlockchainExports_CreateExport",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1BlockchainExport"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to generate blockchain exports",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "tags": [
          "BlockchainExports"
        ]
      }
    },
    "/archivist/v1/{identity}": {
      "get": {
        "summary": "Get attributes of blockchain export",
        "description": "Queries the progress of a blockchain export",
        "operationId": "BlockchainExports_GetExportInfo",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1BlockchainExport"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to read blockchain API.",
            "schema": {}
          },
          "404": {
            "description": "Returned when blockchain-exports identity does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "identity",
            "description": "Relative resource name for the export. e.g. blockchain-exports/20c97f42-87fc-482c-9d58-4d11abd33359",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "BlockchainExports"
        ]
      },
      "delete": {
        "summary": "Delete a blockchain export",
        "operationId": "BlockchainExports_DeleteExport",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to read blockchain API.",
            "schema": {}
          },
          "404": {
            "description": "Returned when blockchain-exports identity does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "identity",
            "description": "Relative resource name for the export. e.g. blockchain-exports/20c97f42-87fc-482c-9d58-4d11abd33359",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "BlockchainExports"
        ]
      }
    }
  },
  "definitions": {
    "ListExportsRequestOrderBy": {
      "type": "string",
      "enum": [
        "LIST_EXPORT_UNSPECIFIED",
        "LIST_EXPORT_STATE",
        "LIST_EXPORT_TIMESTAMP_ACCEPTED"
      ],
      "default": "LIST_EXPORT_UNSPECIFIED"
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "type_url": {
          "type": "string"
        },
        "value": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v1BlockchainExport": {
      "type": "object",
      "example": {
        "identity": "blockchain-exports/20c97f42-87fc-482c-9d58-4d11abd33359",
        "timestamp_accepted": "2019-06-20 11:53:55+00:00",
        "url": "https://www.synsation.io/blockchain-exports?ref=blockchain-exports/20c97f42-87fc-482c-9d58-4d11abd33359",
        "state": "EXPORT_IN_PROGRESS",
        "timestamp_finished": ""
      },
      "properties": {
        "identity": {
          "type": "string",
          "description": "Relative resource name for the blockchain export. e.g. blockchain-exports/20c97f42-87fc-482c-9d58-4d11abd33359",
          "readOnly": true
        },
        "timestamp_accepted": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp of accepting export request (RFC 3339)",
          "title": "RFC 3339 representation of time of creation",
          "readOnly": true
        },
        "url": {
          "type": "string",
          "description": "URI to storage location",
          "title": "URL where dump is stored.  Only populated when state is FINISHED",
          "readOnly": true,
          "maxLength": 128
        },
        "state": {
          "$ref": "#/definitions/v1ExportState",
          "description": "State: Pending, In Progress, Finished, Failed",
          "title": "Status of dump process",
          "readOnly": true
        },
        "timestamp_finished": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp when export is finished (RFC 3339)",
          "title": "RFC 3339 representation of time when dump finished",
          "readOnly": true
        }
      },
      "description": "Response to an GetExportInfo request"
    },
    "v1ExportState": {
      "type": "string",
      "enum": [
        "EXPORT_UNSPECIFIED",
        "EXPORT_PENDING",
        "EXPORT_IN_PROGRESS",
        "EXPORT_FINISHED",
        "EXPORT_FAILED"
      ],
      "default": "EXPORT_UNSPECIFIED"
    },
    "v1ListExportsResponse": {
      "type": "object",
      "properties": {
        "blockchain_export": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1BlockchainExport"
          }
        },
        "next_page_token": {
          "type": "string",
          "description": "Pagination token"
        }
      },
      "description": "Response to a list request"
    }
  }
}
