{
  "swagger": "2.0",
  "info": {
    "title": "Blockchain-exports API",
    "version": "1.0",
    "contact": {
      "name": "Jitsuin",
      "url": "https://www.jitsuin.com"
    }
  },
  "host": "jitsuin.readthedocs.io",
  "basePath": "/api/archivist/v1",
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/archivist/v1/blockchain-exports": {
      "get": {
        "summary": "List all blockchain exports",
        "description": "Returns a list of all exports. e.g. blockchain-exports/20c97f42-87fc-482c-9d58-4d11abd33359",
        "operationId": "BlockchainExports_ListExports",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListExportsResponse"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to generate blockchain exports",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "order_by",
            "description": "Ordering of multiple records. Order by State or timestamp_accepted",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "LIST_EXPORT_UNSPECIFIED",
              "LIST_EXPORT_STATE",
              "LIST_EXPORT_TIMESTAMP_ACCEPTED"
            ],
            "default": "LIST_EXPORT_UNSPECIFIED"
          },
          {
            "name": "page_token",
            "description": "Pagination token. Empty on first request.On subsequent requests copied from response.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "Maximum no. of entries requested.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "BlockchainExports"
        ]
      },
      "post": {
        "summary": "Start creating a blockchain export",
        "description": "Returns a reference to a pending blockchain export",
        "operationId": "BlockchainExports_CreateExport",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1BlockchainExport"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to generate blockchain exports",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "tags": [
          "BlockchainExports"
        ]
      }
    },
    "/archivist/v1/{identity}": {
      "get": {
        "summary": "Get attributes of blockchain export",
        "description": "Queries the progress of a blockchain export",
        "operationId": "BlockchainExports_GetExportInfo",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1BlockchainExport"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to read blockchain API.",
            "schema": {}
          },
          "404": {
            "description": "Returned when blockchain-exports identity does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "identity",
            "description": "Relative resource name for the export. e.g. blockchain-exports/20c97f42-87fc-482c-9d58-4d11abd33359",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "BlockchainExports"
        ]
      },
      "delete": {
        "summary": "Delete a blockchain export",
        "operationId": "BlockchainExports_DeleteExport",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to read blockchain API.",
            "schema": {}
          },
          "404": {
            "description": "Returned when blockchain-exports identity does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "identity",
            "description": "Relative resource name for the export. e.g. blockchain-exports/20c97f42-87fc-482c-9d58-4d11abd33359",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "BlockchainExports"
        ]
      }
    }
  },
  "definitions": {
    "ListExportsRequestOrderBy": {
      "type": "string",
      "enum": [
        "LIST_EXPORT_UNSPECIFIED",
        "LIST_EXPORT_STATE",
        "LIST_EXPORT_TIMESTAMP_ACCEPTED"
      ],
      "default": "LIST_EXPORT_UNSPECIFIED"
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "type_url": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        },
        "value": {
          "type": "string",
          "format": "byte",
          "description": "Must be a valid serialized protocol buffer of the above specified type."
        }
      },
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(\u0026foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := \u0026pb.Foo{...}\n     any, err := ptypes.MarshalAny(foo)\n     ...\n     foo := \u0026pb.Foo{}\n     if err := ptypes.UnmarshalAny(any, foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    },
    "runtimeError": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v1BlockchainExport": {
      "type": "object",
      "example": {
        "identity": "blockchain-exports/20c97f42-87fc-482c-9d58-4d11abd33359",
        "timestamp_accepted": "2019-06-20 11:53:55+00:00",
        "url": "https://www.synsation.io/blockchain-exports?ref=blockchain-exports/20c97f42-87fc-482c-9d58-4d11abd33359",
        "state": "EXPORT_IN_PROGRESS",
        "timestamp_finished": ""
      },
      "properties": {
        "identity": {
          "type": "string",
          "description": "Relative resource name for the blockchain export. e.g. blockchain-exports/20c97f42-87fc-482c-9d58-4d11abd33359",
          "readOnly": true,
          "maxLength": 4096
        },
        "timestamp_accepted": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp of accepting export request (RFC 3339)",
          "readOnly": true
        },
        "url": {
          "type": "string",
          "description": "URI to storage location",
          "readOnly": true,
          "maxLength": 128
        },
        "state": {
          "$ref": "#/definitions/v1ExportState",
          "description": "State: Pending, In Progress, Finished, Failed",
          "readOnly": true
        },
        "timestamp_finished": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp when export is finished (RFC 3339)",
          "readOnly": true
        }
      },
      "description": "Response to an GetExportInfo request"
    },
    "v1ExportState": {
      "type": "string",
      "enum": [
        "EXPORT_UNSPECIFIED",
        "EXPORT_PENDING",
        "EXPORT_IN_PROGRESS",
        "EXPORT_FINISHED",
        "EXPORT_FAILED"
      ],
      "default": "EXPORT_UNSPECIFIED"
    },
    "v1ListExportsResponse": {
      "type": "object",
      "properties": {
        "blockchain_export": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1BlockchainExport"
          }
        },
        "next_page_token": {
          "type": "string",
          "description": "Pagination token"
        }
      },
      "description": "Response to a list request"
    }
  }
}
