{
  "swagger": "2.0",
  "info": {
    "title": "Compliance API",
    "version": "1.0",
    "contact": {
      "name": "Jitsuin",
      "url": "https://www.jitsuin.com"
    }
  },
  "host": "jitsuin.readthedocs.io",
  "basePath": "/archivist/v1",
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/archivist/v1/compliance/{asset_identity}": {
      "get": {
        "summary": "List all compliance status relevant to an asset",
        "operationId": "Compliance_ListAssetCompliance",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListAssetComplianceResponse"
            }
          },
          "206": {
            "description": "The number of compliance statements exceeds the servers limit. ",
            "schema": {}
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to access the requested resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the asset with the id does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "asset_identity",
            "description": "Specify asset `identity` as in `assets/add30235-1424-4fda-840a-d5ef82c4c96f`",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_size",
            "description": "Maximum results per page.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "The next_page_token returned from a previous list request if any.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "Specify the sort order for the results.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "DEFAULT"
            ],
            "default": "DEFAULT"
          }
        ],
        "tags": [
          "Compliance"
        ]
      }
    },
    "/archivist/v1/compliance_policies": {
      "get": {
        "operationId": "Compliance_ListCompliancePolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListCompliancePolicyResponse"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to access the requested resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the asset with the id does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "page_size",
            "description": "Maximum results per page.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "The next_page_token returned from a previous list request if any.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "order_by",
            "description": "Specify the sort order for the results.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "DEFAULT"
            ],
            "default": "DEFAULT"
          }
        ],
        "tags": [
          "Compliance"
        ]
      },
      "post": {
        "operationId": "Compliance_AddCompliancePolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CompliancePolicyResponse"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to access the requested resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the asset with the id does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1AddCompliancePolicyRequest"
            }
          }
        ],
        "tags": [
          "Compliance"
        ]
      }
    },
    "/archivist/v1/{identity}": {
      "get": {
        "operationId": "Compliance_GetCompliancePolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CompliancePolicyResponse"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to access the requested resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the asset with the id does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "identity",
            "description": "Specify compliance policy `identity` as in `compliance_policies/add30235-1424-4fda-840a-d5ef82c4c96f`",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Compliance"
        ]
      },
      "delete": {
        "operationId": "Compliance_DeleteCompliancePolicy",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1CompliancePolicyResponse"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to access the requested resource.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the asset with the id does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "identity",
            "description": "Specify compliance policy `identity` as in `compliance_policies/add30235-1424-4fda-840a-d5ef82c4c96f`",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Compliance"
        ]
      }
    }
  },
  "definitions": {
    "protobufAny": {
      "type": "object",
      "properties": {
        "type_url": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        },
        "value": {
          "type": "string",
          "format": "byte",
          "description": "Must be a valid serialized protocol buffer of the above specified type."
        }
      },
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(\u0026foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := \u0026pb.Foo{...}\n     any, err := ptypes.MarshalAny(foo)\n     ...\n     foo := \u0026pb.Foo{}\n     if err := ptypes.UnmarshalAny(any, foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    },
    "runtimeError": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v1AddCompliancePolicyRequest": {
      "type": "object",
      "example": {
        "compliance_type": "COMPLIANCE_SINCE",
        "description": "Ensure Maintenance is performed daily",
        "display_name": "Daily Maintenance",
        "asset_filter": [
          {
            "or": [
              "attributes.arc_location_identity:locations/5eef2b71-35c1-4376-a166-6c64bfa72f4b"
            ]
          }
        ],
        "event_display_type": "Maintenance Performed",
        "time_period_seconds": 86800
      },
      "properties": {
        "compliance_type": {
          "$ref": "#/definitions/v1ComplianceType"
        },
        "description": {
          "type": "string"
        },
        "display_name": {
          "type": "string"
        },
        "asset_filter": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1Filter"
          }
        },
        "event_display_type": {
          "type": "string"
        },
        "closing_event_display_type": {
          "type": "string"
        },
        "time_period_seconds": {
          "type": "string",
          "format": "int64"
        }
      },
      "description": "request adding new compliance policy"
    },
    "v1CompliancePolicyResponse": {
      "type": "object",
      "example": {
        "identity": "compliance_policies/463fab3a-bae5-4349-8f76-f6454da20c9d",
        "compliance_type": "COMPLIANCE_SINCE",
        "description": "Ensure Maintenance is performed daily",
        "display_name": "Daily Maintenance",
        "asset_filter": [
          {
            "or": [
              "attributes.arc_location_identity:locations/5eef2b71-35c1-4376-a166-6c64bfa72f4b"
            ]
          }
        ],
        "event_display_type": "Maintenance Performed",
        "time_period_seconds": 86800
      },
      "properties": {
        "identity": {
          "type": "string"
        },
        "compliance_type": {
          "$ref": "#/definitions/v1ComplianceType"
        },
        "description": {
          "type": "string"
        },
        "display_name": {
          "type": "string"
        },
        "asset_filter": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1Filter"
          }
        },
        "event_display_type": {
          "type": "string"
        },
        "closing_event_display_type": {
          "type": "string"
        },
        "time_period_seconds": {
          "type": "string",
          "format": "int64"
        }
      },
      "description": "compliance policy"
    },
    "v1ComplianceStatement": {
      "type": "object",
      "example": {
        "compliance_policy_identity": "compliance_policies/0000-0000-000000000-00000000",
        "compliant": false
      },
      "properties": {
        "compliance_policy_identity": {
          "type": "string",
          "description": "identity of the compliance policy",
          "title": "compliance_policy identity",
          "readOnly": true,
          "maxLength": 1024
        },
        "compliant": {
          "type": "boolean",
          "format": "boolean",
          "description": "status of compliance against the compliance policy",
          "title": "compliance status"
        }
      },
      "description": "simple compliance status against a compliance policy.",
      "title": "A ComplianceStatement gives the status of compliance against a specific Compliance Policy"
    },
    "v1ComplianceType": {
      "type": "string",
      "enum": [
        "COMPLIANCE_TYPE_UNDEFINED",
        "COMPLIANCE_SINCE",
        "COMPLIANCE_CURRENT_OUTSTANDING",
        "COMPLIANCE_PERIOD_OUTSTANDING"
      ],
      "default": "COMPLIANCE_TYPE_UNDEFINED"
    },
    "v1Filter": {
      "type": "object",
      "example": {
        "or": [
          "group=maintainers",
          "group=supervisors"
        ]
      },
      "properties": {
        "or": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The filter list"
        }
      },
      "description": "Filter"
    },
    "v1ListAssetComplianceRequestOrderBy": {
      "type": "string",
      "enum": [
        "DEFAULT"
      ],
      "default": "DEFAULT",
      "title": "Supported sort orders"
    },
    "v1ListAssetComplianceResponse": {
      "type": "object",
      "example": {
        "compliance": [
          {
            "compliance_policy_identity": "compliance_policies/0000-0000-000000000-00000000",
            "compliant": false
          }
        ],
        "compliant": false
      },
      "properties": {
        "compliant": {
          "type": "boolean",
          "format": "boolean",
          "description": "overall compliance status for the asset",
          "title": "Overall compliance status.  Will be true only if compliant is true for all applicable compliance_policies, otherwise false"
        },
        "compliance": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1ComplianceStatement"
          },
          "description": "list of statemants of compliance with applicable compliance policies",
          "title": "List of compliance statements"
        },
        "next_page_token": {
          "type": "string",
          "description": "Token to retrieve the next page of results or empty if there are none."
        }
      },
      "description": "simple compliance status for an Asset."
    },
    "v1ListCompliancePolicyRequestOrderBy": {
      "type": "string",
      "enum": [
        "DEFAULT"
      ],
      "default": "DEFAULT",
      "title": "Supported sort orders"
    },
    "v1ListCompliancePolicyResponse": {
      "type": "object",
      "example": {
        "compliance_policies": [
          {
            "identity": "compliance_policies/463fab3a-bae5-4349-8f76-f6454da20c9d",
            "compliance_type": "COMPLIANCE_SINCE",
            "description": "sample compliance policy",
            "display_name": "my compliance policy",
            "asset_filter": [
              {
                "or": [
                  "attributes.arc_location_identity:locations/5eef2b71-35c1-4376-a166-6c64bfa72f4b"
                ]
              }
            ],
            "event_display_type": "tracked event",
            "time_period_seconds": 86400
          }
        ],
        "next_page_token": "NDYzZmFiM2EtYmFlNS00MzQ5LThmNzYtZjY0NTRkYTIwYzlkCg=="
      },
      "properties": {
        "compliance_policies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1CompliancePolicyResponse"
          }
        },
        "next_page_token": {
          "type": "string"
        }
      },
      "description": "simple compliance status for an Asset."
    }
  }
}
