{
  "swagger": "2.0",
  "info": {
    "title": "IoTHubGDR API",
    "version": "1.0",
    "contact": {
      "name": "Jitsuin",
      "url": "https://www.jitsuin.com"
    }
  },
  "host": "jitsuin.readthedocs.io",
  "basePath": "/archivist/v1",
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/archivist/v1/iothubgdr": {
      "get": {
        "operationId": "IoTHubGDR_ListIoTHubGDRConnections",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListIoTHubGDRConnectionsResponse"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to view Event.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "tags": [
          "IoTHubGDR"
        ]
      },
      "post": {
        "operationId": "IoTHubGDR_CreateIoTHubGDRConnection",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1OperationResponse"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to view Event.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateIoTHubGDRConnectionRequest"
            }
          }
        ],
        "tags": [
          "IoTHubGDR"
        ]
      }
    },
    "/archivist/v1/{identity}": {
      "get": {
        "operationId": "IoTHubGDR_GetIoTHubGDRConnection",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1OperationResponse"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to view Event.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the IotHubGDR does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "identity",
            "description": "Specify iothubgdr `identity` as in `iothubgdr/add30235-1424-4fda-840a-d5ef82c4c96f`",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "IoTHubGDR"
        ]
      },
      "delete": {
        "operationId": "IoTHubGDR_DeleteIoTHubGDRConnection",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to view Event.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the IotHubGDR does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "identity",
            "description": "Specify iothubgdr `identity` as in `iothubgdr/add30235-1424-4fda-840a-d5ef82c4c96f`",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "IoTHubGDR"
        ]
      }
    },
    "/archivist/v1/{identity}:cancel": {
      "post": {
        "operationId": "IoTHubGDR_CancelIoTHubGDRConnection",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1OperationResponse"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to view Event.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the IotHubGDR does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "identity",
            "description": "Specify iothubgdr `identity` as in `iothubgdr/add30235-1424-4fda-840a-d5ef82c4c96f`",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "IoTHubGDR"
        ]
      }
    }
  },
  "definitions": {
    "OperationResultStatus": {
      "type": "string",
      "enum": [
        "STATUS_UNSPECIFIED",
        "STATUS_PENDING",
        "STATUS_INPROGRESS",
        "STATUS_FINISHED",
        "STATUS_CANCELLED"
      ],
      "default": "STATUS_UNSPECIFIED"
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "type_url": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        },
        "value": {
          "type": "string",
          "format": "byte",
          "description": "Must be a valid serialized protocol buffer of the above specified type."
        }
      },
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(\u0026foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := \u0026pb.Foo{...}\n     any, err := ptypes.MarshalAny(foo)\n     ...\n     foo := \u0026pb.Foo{}\n     if err := ptypes.UnmarshalAny(any, foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    },
    "runtimeError": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v1CreateIoTHubGDRConnectionRequest": {
      "type": "object",
      "example": {
        "display_name": "My Company IoT Hub",
        "secret": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
        "location_identity": "locations/25f812d3-10ab-4451-8bd1-fb02454c9361"
      },
      "properties": {
        "display_name": {
          "type": "string",
          "description": "display name for this import",
          "maxLength": 1024
        },
        "secret": {
          "type": "string",
          "description": "secret used to connect to IoT Hub",
          "maxLength": 1024
        },
        "location_identity": {
          "type": "string",
          "description": "Identity of location` as in `locations/add30235-1424-4fda-840a-d5ef82c4c96f`",
          "title": "Location to use with new assets",
          "readOnly": true
        }
      },
      "description": "Create IoTHubGDR import"
    },
    "v1ListIoTHubGDRConnectionsResponse": {
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1OperationResponse"
          }
        }
      }
    },
    "v1OperationError": {
      "type": "object",
      "example": {
        "display_name": "My Company IoT Hub",
        "number_assets_imported": 66,
        "location_identity": "locations/25f812d3-10ab-4451-8bd1-fb02454c9361",
        "error_message": "could not connect to IoT Hub"
      },
      "properties": {
        "display_name": {
          "type": "string",
          "description": "display name for this import",
          "maxLength": 1024
        },
        "number_assets_imported": {
          "type": "string",
          "format": "int64",
          "description": "number of Assets imported"
        },
        "location_identity": {
          "type": "string",
          "description": "identity of a location wo which to add the assets"
        },
        "error_message": {
          "type": "string",
          "description": "error message",
          "maxLength": 1024
        }
      },
      "description": "Result of an import that failed"
    },
    "v1OperationResponse": {
      "type": "object",
      "example": {
        "message": "abcd"
      },
      "properties": {
        "identity": {
          "type": "string",
          "description": "unique identity of this operations",
          "title": "Unique identifier for the IoT Hub connection string created by the service on POST"
        },
        "done": {
          "type": "boolean",
          "format": "boolean",
          "description": "indicates if import is still running"
        },
        "timestamp_accepted": {
          "type": "string",
          "format": "date-time",
          "description": "time when import has been accepted by the API"
        },
        "timestamp_finished": {
          "type": "string",
          "format": "date-time",
          "description": "time import finished"
        },
        "result": {
          "$ref": "#/definitions/v1OperationResult"
        },
        "error": {
          "$ref": "#/definitions/v1OperationError"
        }
      },
      "description": "Long running operation"
    },
    "v1OperationResult": {
      "type": "object",
      "example": {
        "display_name": "My Company IoT Hub",
        "number_assets_imported": 66,
        "location_identity": "locations/25f812d3-10ab-4451-8bd1-fb02454c9361",
        "status": "STATUS_FINISHED"
      },
      "properties": {
        "display_name": {
          "type": "string",
          "description": "display name for this import",
          "maxLength": 1024
        },
        "number_assets_imported": {
          "type": "string",
          "format": "int64",
          "description": "number of Assets imported",
          "title": "Current count of assets fetched"
        },
        "location_identity": {
          "type": "string",
          "description": "Identity of location` as in `locations/add30235-1424-4fda-840a-d5ef82c4c96f`",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/OperationResultStatus",
          "description": "status of the import",
          "title": "Status of collection"
        }
      },
      "description": "Result of the import - in progress or completed succefully"
    }
  }
}
