{
  "swagger": "2.0",
  "info": {
    "title": "Location API",
    "version": "1.0",
    "contact": {
      "name": "Jitsuin",
      "url": "https://www.jitsuin.com"
    }
  },
  "tags": [
    {
      "name": "Locations"
    }
  ],
  "host": "jitsuin.readthedocs.io",
  "basePath": "/api/archivist/v2",
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/archivist/v2/locations": {
      "get": {
        "summary": "List locations",
        "description": "Returns a paginated list of locations",
        "operationId": "Locations_ListLocations",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2ListLocationsResponse"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to read the location.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "order_by",
            "description": "Specify the sort order for the results. By display_name and by named\nextended attribute are supported.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "DEFAULT",
              "DISPLAY_NAME"
            ],
            "default": "DEFAULT"
          },
          {
            "name": "page_size",
            "description": "Maximum locations per page.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page_token",
            "description": "The next_page_token returned from a previous list request if any.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "display_name",
            "description": "Further fields are bound to query parameters and act to filter the result.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Locations"
        ]
      },
      "post": {
        "summary": "Create a location",
        "description": "This request creates a new location. A name and a latitude and longitude must be provided. The display_name is the friendly name. The latitude and longitude must be entered in Degrees Decimal format See [Change of units and format](https://en.wikipedia.org/wiki/Geographic_coordinate_conversion#Change_of_units_and_format). The `attributes` field is a flat map of `{ \"key\": \"value\" }`. The keys and values must be strings.",
        "operationId": "Locations_CreateLocation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/archivistv2Location"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to create a location.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2CreateLocationRequest"
            }
          }
        ],
        "tags": [
          "Locations"
        ]
      }
    },
    "/archivist/v2/{identity}": {
      "get": {
        "summary": "Get a location",
        "description": "Returns the identified location",
        "operationId": "Locations_GetLocation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/archivistv2Location"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to read the location.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the identified location does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "identity",
            "description": "Specify location `identity` as in `locations/add30235-1424-4fda-840a-d5ef82c4c96f`",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Locations"
        ]
      },
      "delete": {
        "summary": "Delete a location",
        "description": "Delete the identified location",
        "operationId": "Locations_DeleteLocation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "properties": {}
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to delete the location.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the identified location does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "identity",
            "description": "Specify location `identity` as in `locations/add30235-1424-4fda-840a-d5ef82c4c96f`",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Locations"
        ]
      },
      "patch": {
        "summary": "Update a location's details",
        "description": "Perform a full or partial update of the identified location",
        "operationId": "Locations_UpdateLocation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/archivistv2Location"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to update the location.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the identified location does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "identity",
            "description": "Specify location `identity` as in `locations/add30235-1424-4fda-840a-d5ef82c4c96f`",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "description": "The body provides the location fields to update",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/archivistv2Location"
            }
          },
          {
            "name": "mask",
            "description": "The mask says exactly which fields are to be updated. This\nremoves the ambiguity caused by 'zero' valued fields.\nhttps://grpc-ecosystem.github.io/grpc-gateway/docs/patch.html.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Locations"
        ]
      }
    },
    "/archivist/v2/{location_identity}/permissions": {
      "get": {
        "summary": "Get location permissions",
        "description": "Get location permissions for identified location",
        "operationId": "Locations_GetLocationPermissions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2LocationPermissions"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to list permissions for the location.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the identified location does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location_identity",
            "description": "Specify location `identity` as in `locations/add30235-1424-4fda-840a-d5ef82c4c96f`",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Locations"
        ]
      },
      "patch": {
        "summary": "Patch location permissions",
        "description": "Patch location permissions for identified location",
        "operationId": "Locations_SetLocationPermissions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v2LocationPermissions"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to access permissions for the location.",
            "schema": {}
          },
          "404": {
            "description": "Returned when the identified location does not exist.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "location_identity",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v2SubjectIdentities"
            }
          }
        ],
        "tags": [
          "Locations"
        ]
      }
    }
  },
  "definitions": {
    "ListLocationsRequestOrderBy": {
      "type": "string",
      "enum": [
        "DEFAULT",
        "DISPLAY_NAME"
      ],
      "default": "DEFAULT",
      "title": "Supported sort orders"
    },
    "archivistv2Location": {
      "type": "object",
      "example": {
        "identity": "locations/08838336-c357-460d-902a-3aba9528dd22",
        "display_name": "Macclesfield, Cheshire",
        "description": "Manufacturing site, North West England, Macclesfield, Cheshire",
        "latitude": "53.2546799",
        "longitude": "-2.1213956,14.54",
        "attributes": {
          "director": "John Smith",
          "address": "Bridgewater, Somerset",
          "Facility Type": "Manufacture",
          "support_email": "support@macclesfield.com",
          "support_phone": "123 456 789"
        }
      },
      "properties": {
        "identity": {
          "type": "string",
          "description": "Unique identification for the location, Relative Resource Name",
          "title": "Relative Resource Name for the location. Always generated by the system. Allways contains a uuid"
        },
        "display_name": {
          "type": "string",
          "description": "Customer friendly name for the location.",
          "maxLength": 128
        },
        "description": {
          "type": "string",
          "description": "Free text description of the location",
          "maxLength": 8096
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "Latitude in decimal degrees",
          "title": "Latitude in decimal degrees",
          "maximum": 90,
          "minimum": -90
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "Longitude in decimal degrees",
          "title": "Longitude in decimal degrees",
          "maximum": 180,
          "minimum": -180
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/v2Attribute"
          },
          "description": "key value mapping of asset properties"
        },
        "tenant": {
          "type": "string",
          "description": "Tenent id",
          "title": "Location creating customer tenant ID",
          "maxLength": 128
        }
      },
      "description": "Describes a location for asset resources"
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "type_url": {
          "type": "string"
        },
        "value": {
          "type": "string",
          "format": "byte"
        }
      }
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v1ListSuggestionsResponse": {
      "type": "object",
      "example": [
        "Grayslake, Illinois",
        "Macclesfield"
      ],
      "properties": {
        "suggestions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of lexically sorted string suggestions.\nWhen the named attribute refers to a string value (leaf attribute), for example principal_declared.email, the list is the lexically sorted set of values currently known for that field."
        },
        "next_page_token": {
          "type": "string",
          "title": "Token to retrieve the next page of results or empty if there are none.\nNote: Paging is partialy supported as a means for the client to limit the number of responses and to know if the response list is complete. Attempts to redeme a page token will fail. Presence of a page token means there are more suggestions but we didn’t return them"
        }
      },
      "description": "List of suggestions (or the next page in a continuing  list request"
    },
    "v2Attribute": {
      "type": "object",
      "properties": {
        "str_val": {
          "type": "string"
        },
        "dict_val": {
          "$ref": "#/definitions/v2DictAttr"
        },
        "list_val": {
          "$ref": "#/definitions/v2ListAttr"
        }
      }
    },
    "v2CreateLocationRequest": {
      "type": "object",
      "example": {
        "display_name": "Macclesfield, Cheshire",
        "description": "Manufacturing site, North West England, Macclesfield, Cheshire",
        "latitude": "53.2546799",
        "longitude": "-2.1213956,14.54",
        "attributes": {
          "director": "John Smith",
          "address": "Bridgewater, Somerset",
          "Facility Type": "Manufacture",
          "support_email": "support@macclesfield.com",
          "support_phone": "123 456 789"
        }
      },
      "properties": {
        "display_name": {
          "type": "string",
          "description": "Customer friendly name for the asset.",
          "maxLength": 128
        },
        "description": {
          "type": "string",
          "description": "Free text description of the location",
          "maxLength": 8096
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "Latitude in decimal degrees format.",
          "maximum": 90,
          "minimum": -90
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "longitude in decimal degrees format.",
          "maximum": 180,
          "minimum": -180
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/v2Attribute"
          },
          "description": "key value mapping of location properties"
        }
      },
      "description": "The body of a request to create new Jitsuin Asset location.",
      "required": [
        "display_name",
        "latitude",
        "longitude"
      ]
    },
    "v2DictAttr": {
      "type": "object",
      "properties": {
        "value": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "v2ListAttr": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v2DictAttr"
          }
        }
      }
    },
    "v2ListLocationsResponse": {
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/archivistv2Location"
          },
          "title": "There will be at most ListLocationsRequest.page_size items"
        },
        "next_page_token": {
          "type": "string",
          "description": "Token to retrieve the next page of results or empty if there are none."
        }
      }
    },
    "v2LocationPermissions": {
      "type": "object",
      "properties": {
        "location_identity": {
          "type": "string"
        },
        "permissions": {
          "$ref": "#/definitions/v2SubjectIdentities"
        }
      }
    },
    "v2SubjectIdentities": {
      "type": "object",
      "properties": {
        "subject_identities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "list of subject identities this location is shared with",
          "maxLength": 128
        }
      }
    }
  }
}
