{
  "swagger": "2.0",
  "info": {
    "title": "SvcBusSources API",
    "version": "1.0",
    "contact": {
      "name": "Jitsuin",
      "url": "https://www.jitsuin.com"
    }
  },
  "host": "jitsuin.readthedocs.io",
  "basePath": "/api/archivist/v1",
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/archivist/v1/svcbussources": {
      "get": {
        "summary": "List all SvcBusSources",
        "description": "List all SvcBusSources, the results will not contain secrets",
        "operationId": "SvcBusSources_ListSvcBusSources",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1ListSvcBusSourcesResponse"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to list SvcBusSources.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "tags": [
          "SvcBusSources"
        ]
      },
      "post": {
        "summary": "Create new SvcBusSource",
        "description": "Create a connection to service bus endpoint - archivist will store credentials provided and sync events",
        "operationId": "SvcBusSources_CreateSvcBusSource",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1SvcBusSource"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to create SvcBusSource.",
            "schema": {}
          },
          "429": {
            "description": "Returned when the number of concurrent subscriptions exceeds capacity (default=2).",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/v1CreateSvcBusSourceRequest"
            }
          }
        ],
        "tags": [
          "SvcBusSources"
        ]
      }
    },
    "/archivist/v1/{identity}": {
      "get": {
        "summary": "Get SvcBusSource with provided identity",
        "description": "Get SvcBusSource with provided identity, response will not include the secret",
        "operationId": "SvcBusSources_GetSvcBusSource",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1SvcBusSource"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to get SvcBusSource.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "identity",
            "description": "Specify svcbussource `identity` as in `svcbussources/add30235-1424-4fda-840a-d5ef82c4c96f`",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "SvcBusSources"
        ]
      },
      "delete": {
        "summary": "Delete SvcBusSource",
        "description": "Delete SvcBusSource with provided connection_identity",
        "operationId": "SvcBusSources_DeleteSvcBusSource",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1SvcBusSource"
            }
          },
          "401": {
            "description": "Returned when the user is not authenticated to the system.",
            "schema": {}
          },
          "403": {
            "description": "Returned when the user is not authorized to delete SvcBusSources.",
            "schema": {}
          },
          "default": {
            "description": "An unexpected error response",
            "schema": {
              "$ref": "#/definitions/runtimeError"
            }
          }
        },
        "parameters": [
          {
            "name": "identity",
            "description": "Specify svcbussource `identity` as in `svcbussources/add30235-1424-4fda-840a-d5ef82c4c96f`",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "SvcBusSources"
        ]
      }
    }
  },
  "definitions": {
    "protobufAny": {
      "type": "object",
      "properties": {
        "type_url": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        },
        "value": {
          "type": "string",
          "format": "byte",
          "description": "Must be a valid serialized protocol buffer of the above specified type."
        }
      },
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(\u0026foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := \u0026pb.Foo{...}\n     any, err := ptypes.MarshalAny(foo)\n     ...\n     foo := \u0026pb.Foo{}\n     if err := ptypes.UnmarshalAny(any, foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    },
    "runtimeError": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v1CreateSvcBusSourceRequest": {
      "type": "object",
      "example": {
        "display_name": "Jitsuin",
        "connection_string": "Endpoint=sb://svcbussource-ns-jitsuin-te-1521552-cbcab4b965.servicebus.windows.net/;SharedAccessKeyName=iothubowner;SharedAccessKey=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx=;EntityPath=jitsuin-test-iot-hub",
        "queue_name": "iothub"
      },
      "properties": {
        "display_name": {
          "type": "string",
          "description": "The displayable name of the subscription.",
          "readOnly": true,
          "maxLength": 4096
        },
        "connection_string": {
          "type": "string",
          "description": "Connection String to Service bus endpoint",
          "readOnly": true,
          "maxLength": 4096
        },
        "queue_name": {
          "type": "string",
          "description": "Service bus queue name",
          "title": "Service bus queue name",
          "readOnly": true,
          "maxLength": 4096
        }
      },
      "description": "Create a subscription"
    },
    "v1ListSvcBusSourcesResponse": {
      "type": "object",
      "properties": {
        "sources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/v1SvcBusSource"
          }
        }
      }
    },
    "v1SvcBusSource": {
      "type": "object",
      "example": {
        "identity": "svcbussources/20c97f42-87fc-482c-9d58-4d11abd33359",
        "display_name": "Jitsuin"
      },
      "properties": {
        "identity": {
          "type": "string",
          "description": "Relative resource name for the subscription. e.g. svcbussources/20c97f42-87fc-482c-9d58-4d11abd33359",
          "title": "Unique identifier for the service bus connection string created by the service on POST",
          "readOnly": true
        },
        "display_name": {
          "type": "string",
          "description": "The displayable name of the subscription.",
          "readOnly": true,
          "maxLength": 4096
        },
        "queue_name": {
          "type": "string",
          "description": "Service bus queue name",
          "readOnly": true,
          "maxLength": 4096
        },
        "status": {
          "type": "string",
          "description": "Service bus subscription status",
          "readOnly": true,
          "maxLength": 128
        }
      },
      "description": "Service bus "
    }
  }
}
